poseidas/src/main/resources/META-INF/wsdl/CA-Services/Restricted_ID/WS_DV_RestrictedID.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<!-- this WSDL-specification is based on the document 
	 PKIs for Machine Readable Travel Documents - Protocols for the Management of Certififcates and CRLs
	 Version 1.1, Date 30.06.2010
	 -->
<!-- this specification contains the functions that have to be implemented as part of the Web-Service
	of a DV. Currently the following functions are part of this Web-Service:
	- GetSectorPublicKey for a request of a terminal
	- GetBlackList for a request of a terminal
	- SendBlackList used for callback by the MBS
	-->
	
<definitions
    name="EAC-PKI-DV"
    targetNamespace="uri:EAC-PKI-DV-Protocol/1.1"
    xmlns:tns="uri:EAC-PKI-DV-Protocol/1.1"

    xmlns:ns="uri:eacBT/1.1"

    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://schemas.xmlsoap.org/wsdl/ http://schemas.xmlsoap.org/wsdl/2003-02-11.xsd"

    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:SOAP="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    >
    
    <types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema">
            <import namespace="http://www.w3.org/2001/XMLSchema"/>
            <import namespace="uri:eacBT/1.1" schemaLocation="BasicTypes_DV_RestrictedID.xsd"/>
        </schema>
    </types>
	
	<!-- Definition of the messages of the protocol -->
	<!-- message GetSectorPublicKey -->
	<message name="GetSectorPublicKey_Req">
		<part name="sectorID" type="xsd:base64Binary"/>
	</message>
	<message name="GetSectorPublicKey_Res">
		<part name="Result" type="ns:GetSectorPublicKeyResult"/>
	</message>
	<!-- message GetBlackList -->
	<message name="GetBlackList_Req">
		<part name="callbackIndicator" type="ns:CallbackIndicatorType"/>
		<part name="messageID" type="ns:OptionalMessageIDType"/>
		<part name="responseURL" type="ns:OptionalStringType"/>
		<part name="deltaIndicator" type="ns:DeltaIndicatorType"/>
		<part name="deltaBase" type="ns:OptionalDeltaBaseType"/>
	</message>
	<message name="GetBlackList_Res">
		<part name="Result" type="ns:GetBlackListResult"/>
	</message>
	<!-- message SendBlackList -->
	<message name="SendBlackList_Req">
		<part name="messageID" type="ns:OptionalMessageIDType"/>
		<part name="statusInfo" type="ns:SendBlackList_statusInfoType"/>
		<part name="deltaListAddedItems" type="ns:OptionalBinaryType"/>
		<part name="deltaListRemovedItems" type="ns:OptionalBinaryType"/>
		<part name="completeListURL" type="ns:OptionalStringType"/>
	</message>
	<message name="SendBlackList_Res">
		<part name="Result" type="ns:SendBlackList_returnCodeType"/>
	</message>
	
	<!-- Definition of the port types -->
	<portType name="EAC-PKI-DV-ProtocolType">
		<!-- port type for message GetSectorPublicKey -->
		<operation name="GetSectorPublicKey">
			<input message="tns:GetSectorPublicKey_Req"/>
			<output message="tns:GetSectorPublicKey_Res"/>
		</operation>
		<!-- port type for message GetBlackList -->
		<operation name="GetBlackList">
			<input message="tns:GetBlackList_Req"/>
			<output message="tns:GetBlackList_Res"/>
		</operation>
		<!-- port type for message SendBlackList -->
		<operation name="SendBlackList">
			<input message="tns:SendBlackList_Req"/>
			<output message="tns:SendBlackList_Res"/>
		</operation>
	</portType>
	
	<!-- Definition of the bindings -->
	<binding name="EAC-DV" type="tns:EAC-PKI-DV-ProtocolType">
		<SOAP:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="GetSectorPublicKey">
			<SOAP:operation style="rpc" soapAction=""/>
			<input>
				<SOAP:body use="literal" namespace="uri:EAC-PKI-DV-Protocol/1.1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<SOAP:body use="literal" namespace="uri:EAC-PKI-DV-Protocol/1.1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="GetBlackList">
			<SOAP:operation style="rpc" soapAction=""/>
			<input>
				<SOAP:body use="literal" namespace="uri:EAC-PKI-DV-Protocol/1.1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<SOAP:body use="literal" namespace="uri:EAC-PKI-DV-Protocol/1.1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="SendBlackList">
			<SOAP:operation style="rpc" soapAction=""/>
			<input>
				<SOAP:body use="literal" namespace="uri:EAC-PKI-DV-Protocol/1.1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<SOAP:body use="literal" namespace="uri:EAC-PKI-DV-Protocol/1.1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
	</binding>

   <!-- Definition of the service -->
    <service name="EAC-DV-ProtocolService">
        <port name="EAC-DV-ProtocolServicePort" binding="tns:EAC-DV">
            <SOAP:address location="http://URL_NOT_SPECIFIED"/>
        </port>
    </service>
</definitions>