poseidas/src/main/resources/META-INF/wsdl/CA-Services/Restricted_ID/DV/BasicTypes_DV_RestrictedID.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:nsBT="uri:eacBT/1.1" targetNamespace="uri:eacBT/1.1" elementFormDefault="qualified">
	<!-- this scheme is based on the document 
	     PKIs for Machine Readable Travel Documents - Protocols for the Management of Certififcates and CRLs
	 Version 1.1, Date 30.06.2010
	 -->
	<!-- Definition of the type for a message ID -->
	<xsd:simpleType name="MessageIDType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<!-- Definition of the type for a callbackIndicator -->
	<xsd:simpleType name="CallbackIndicatorType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="callback_possible"/>
			<xsd:enumeration value="callback_not_possible"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- Definition of the type for a deltaIndicator -->
	<xsd:simpleType name="DeltaIndicatorType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="complete_list"/>
			<xsd:enumeration value="delta_list"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- Definition of the type of an optional messageID parameter -->
	<xsd:complexType name="OptionalMessageIDType">
		<xsd:sequence>
			<xsd:element name="messageID" type="nsBT:MessageIDType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="OptionalBinaryType">
		<xsd:sequence>
			<xsd:element name="binary" type="xsd:base64Binary" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="OptionalStringType">
		<xsd:sequence>
			<xsd:element name="string" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="OptionalDeltaBaseType">
		<xsd:sequence>
			<xsd:element name="deltaBase" type="xsd:base64Binary" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="SendBlackList_statusInfoType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="ok_list_available"/>
			<xsd:enumeration value="ok_no_update_needed"/>
			<xsd:enumeration value="ok_complete_list"/>
			<xsd:enumeration value="failure_deltaBase_unknown"/>
			<xsd:enumeration value="failure_syntax"/>
			<xsd:enumeration value="failure_internal_error"/>
			
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="GetSectorPublicKey_returnCodeType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="ok_PK_available"/>			
			<xsd:enumeration value="failure_sectorID_unknown"/>
			<xsd:enumeration value="failure_syntax"/>
			<xsd:enumeration value="failure_internal_error"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="GetBlackList_returnCodeType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="ok_list_available"/>
			<xsd:enumeration value="ok_no_update_needed"/>
			<xsd:enumeration value="ok_complete_list"/>
			<xsd:enumeration value="ok_reception_ack"/>
			<xsd:enumeration value="failure_deltaBase_unknown"/>
			<xsd:enumeration value="failure_syntax"/>
			<xsd:enumeration value="failure_synchronous_processing_not_possible"/>
			<xsd:enumeration value="failure_internal_error"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="SendBlackList_returnCodeType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="ok_received_correctly"/>
			<xsd:enumeration value="failure_messageID_unknown"/>
			<xsd:enumeration value="failure_syntax"/>
			<xsd:enumeration value="failure_internal_error"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="GetSectorPublicKeyResult">
		<xsd:sequence>
			<xsd:element name="returnCode" type="nsBT:GetSectorPublicKey_returnCodeType"/>
			<xsd:element name="sectorPK" type="xsd:base64Binary" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="GetBlackListResult">
		<xsd:sequence>
			<xsd:element name="returnCode" type="nsBT:GetBlackList_returnCodeType"/>
			<xsd:element name="deltaListAddedItems" type="nsBT:OptionalBinaryType"/>
			<xsd:element name="deltaListRemovedItems" type="nsBT:OptionalBinaryType"/>
			<xsd:element name="completeListURL" type="nsBT:OptionalStringType"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
