poseidas/src/main/resources/META-INF/wsdl/CA-Services-1-4-0/part-3/passiveAuth/WS_DV_PassiveAuth.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<!-- this scheme is based on the document
    Protocols for the Management of Certificates and CRLs in Public-Key-Infrastructures (PKIs) Part 3
    Version 1.40
    -->
<!-- this specification contains the functions that have to be implemented as part of the Web-Service
	of the DV. Currently, the following functions are part of this Web-Service:
	- GetMasterList for a request of a terminal
	- GetDefectList for a request of a terminal
	- SendMasterList used for a callback by the CVCA
	- SendDefectList used for a callback by the CVCA
	-->

<definitions
        name="EAC-PKI-DV"
        targetNamespace="uri:EAC-PKI-DV-Protocol/1.4"
        xmlns:tns="uri:EAC-PKI-DV-Protocol/1.4"
        xmlns:ns="uri:eacBT/1.4"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://schemas.xmlsoap.org/wsdl/ http://schemas.xmlsoap.org/wsdl/2003-02-11.xsd"
        xmlns:SOAP="http://schemas.xmlsoap.org/wsdl/soap/"
        xmlns="http://schemas.xmlsoap.org/wsdl/"
>

    <types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema">
            <import namespace="http://www.w3.org/2001/XMLSchema"/>
            <import namespace="uri:eacBT/1.4" schemaLocation="BasicTypes_DV_PassiveAuth.xsd"/>
        </schema>
    </types>

    <!-- Definition of the messages of the protocol -->
    <!-- message GetMasterList -->
    <message name="GetMasterListReq">
        <part name="Request" element="ns:getMasterListRequest"/>
    </message>
    <message name="GetMasterListRes">
        <part name="Result" element="ns:getMasterListResult"/>
    </message>

    <!-- message GetDefectList -->
    <message name="GetDefectListReq">
        <part name="Request" element="ns:getDefectListRequest"/>
    </message>
    <message name="GetDefectListRes">
        <part name="Result" element="ns:getDefectListResult"/>
    </message>

    <!-- message SendMasterList -->
    <message name="SendMasterListReq">
        <part name="Request" element="ns:sendMasterListRequest"/>
    </message>
    <message name="SendMasterListRes">
        <part name="Result" element="ns:sendMasterListResult"/>
    </message>

    <!-- message SendDefectList -->
    <message name="SendDefectListReq">
        <part name="Request" element="ns:sendDefectListRequest"/>
    </message>
    <message name="SendDefectListRes">
        <part name="Result" element="ns:sendDefectListResult"/>
    </message>

    <!-- Definition of the port types -->
    <portType name="EAC-PKI-DV-ProtocolType">
        <!-- port type for message GetMasterList -->
        <operation name="GetMasterList">
            <input message="tns:GetMasterListReq"/>
            <output message="tns:GetMasterListRes"/>
        </operation>

        <!-- port type for message GetDefectList -->
        <operation name="GetDefectList">
            <input message="tns:GetDefectListReq"/>
            <output message="tns:GetDefectListRes"/>
        </operation>

        <!-- port type for message SendMasterList -->
        <operation name="SendMasterList">
            <input message="tns:SendMasterListReq"/>
            <output message="tns:SendMasterListRes"/>
        </operation>

        <!-- port type for message SendDefectList -->
        <operation name="SendDefectList">
            <input message="tns:SendDefectListReq"/>
            <output message="tns:SendDefectListRes"/>
        </operation>
    </portType>

    <!-- Definition of the bindings -->
    <binding name="EAC-DV" type="tns:EAC-PKI-DV-ProtocolType">
        <SOAP:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="GetMasterList">
            <SOAP:operation style="document" soapAction=""/>
            <input>
                <SOAP:body use="literal"/>
            </input>
            <output>
                <SOAP:body use="literal"/>
            </output>
        </operation>

        <operation name="GetDefectList">
            <SOAP:operation style="document" soapAction=""/>
            <input>
                <SOAP:body use="literal"/>
            </input>
            <output>
                <SOAP:body use="literal"/>
            </output>
        </operation>

        <operation name="SendMasterList">
            <SOAP:operation style="document" soapAction=""/>
            <input>
                <SOAP:body use="literal"/>
            </input>
            <output>
                <SOAP:body use="literal"/>
            </output>
        </operation>

        <operation name="SendDefectList">
            <SOAP:operation style="document" soapAction=""/>
            <input>
                <SOAP:body use="literal"/>
            </input>
            <output>
                <SOAP:body use="literal"/>
            </output>
        </operation>
    </binding>

    <!-- Definition of the service -->
    <service name="EAC-DV-ProtocolService">
        <port name="EAC-DV-ProtocolServicePort" binding="tns:EAC-DV">
            <SOAP:address location="http://URL_NOT_SPECIFIED"/>
        </port>
    </service>
</definitions>
