poseidas/src/main/resources/META-INF/wsdl/CA-Services/TermAuth/Terminal/IS_termcontr/WS_IS_termcontr_TerminalAuth.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<!-- this WSDL-specification is based on the document 
	 PKIs for Machine Readable Travel Documents - Protocols for the Management of Certififcates and CRLs
	 Version 1.1, Date 30.06.2010
	 -->
<!-- this specifications contains the functions, which have to be implemented as part of the Web-Service
	of the terminal control center of an distributed inspection system (IS). 
	Currently the following functions are part of this Web-Service:
	- SendCertificates used for a callback by a DV
	- GetCertificateChain used for a request by a POC 
	- GetTASignature used for a request by a POC 
	-->
	
<definitions
    name="EAC-PKI-TermContr"
    targetNamespace="uri:EAC-PKI-TermContr-Protocol/1.1"
    xmlns:tns="uri:EAC-PKI-TermContr-Protocol/1.1"

    xmlns:ns="uri:eacBT/1.1"

    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://schemas.xmlsoap.org/wsdl/ http://schemas.xmlsoap.org/wsdl/2003-02-11.xsd"

    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:SOAP="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    >
    
    <types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema">
            <import namespace="http://www.w3.org/2001/XMLSchema"/>
            <import namespace="uri:eacBT/1.1" schemaLocation="./BasicTypes_IS_termcontr_TerminalAuth.xsd"/>
        </schema>
    </types>
	
	<!-- Definition of the messages of the protocol -->
	<!-- message SendCertificates -->
	<message name="SendCertificates_Req">
		<part name="messageID" type="ns:OptionalMessageIDType"/>
		<part name="statusInfo" type="ns:SendCertificates_statusInfoType"/>
		<part name="certificateSeq" type="ns:CertificateSeqType"/>
	</message>
	<message name="SendCertificates_Res">
		<part name="Result" type="ns:SendCertificatesResult"/>
	</message>
	<!-- message GetCertificateChain -->
	<message name="GetCertificateChain_Req">
		<part name="keyCAR" type="xsd:base64Binary"/>
	</message>
	<message name="GetCertificateChain_Res">
		<part name="Result" type="ns:GetCertificateChainResult"/>
	</message>
	<!-- message GetTASignature -->
	<message name="GetTASignature_Req">
		<part name="hashTBS" type="ns:OptionalBinaryType"/>
		<part name="idPICC" type="ns:OptionalBinaryType"/>
		<part name="challengePICC" type="ns:OptionalBinaryType"/>
		<part name="hashPK" type="ns:OptionalBinaryType"/>
		<part name="auxPCD" type="ns:OptionalBinaryType"/>
		<part name="keyCHR" type="xsd:base64Binary"/>
	</message>
	<message name="GetTASignature_Res">
		<part name="Result" type="ns:GetTASignatureResult"/>
	</message>
	
	<!-- Definition of the port types -->
	<portType name="EAC-PKI-TermContr-ProtocolType">
		<!-- port type for message SendCertificates -->
		<operation name="SendCertificates">
			<input message="tns:SendCertificates_Req"/>
			<output message="tns:SendCertificates_Res"/>
		</operation>
		<!-- port type for message GetCertificateChain -->
		<operation name="GetCertificateChain">
			<input message="tns:GetCertificateChain_Req"/>
			<output message="tns:GetCertificateChain_Res"/>
		</operation>
		<!-- port type for message GetTASignature -->
	              <operation name="GetTASignature">
			<input message="tns:GetTASignature_Req"/>
			<output message="tns:GetTASignature_Res"/>
		</operation>
	</portType>
	
	<!-- Definition of the bindings -->
	<binding name="EAC-TermContr" type="tns:EAC-PKI-TermContr-ProtocolType">
		<SOAP:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="SendCertificates">
			<SOAP:operation style="rpc" soapAction=""/>
			<input>
				<SOAP:body use="literal" namespace="uri:EAC-PKI-TermContr-Protocol/1.1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<SOAP:body use="literal" namespace="uri:EAC-PKI-TermContr-Protocol/1.1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>		
		<operation name="GetCertificateChain">
			<SOAP:operation style="rpc" soapAction=""/>
			<input>
				<SOAP:body use="literal" namespace="uri:EAC-PKI-TermContr-Protocol/1.1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<SOAP:body use="literal" namespace="uri:EAC-PKI-TermContr-Protocol/1.1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>	
		<operation name="GetTASignature">
			<SOAP:operation style="rpc" soapAction=""/>
			<input>
				<SOAP:body use="literal" namespace="uri:EAC-PKI-TermContr-Protocol/1.1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<SOAP:body use="literal" namespace="uri:EAC-PKI-TermContr-Protocol/1.1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>			
	</binding>

   <!-- Definition of the service -->
    <service name="EAC-TermContr-ProtocolService">
        <port name="EAC-TermContr-ProtocolServicePort" binding="tns:EAC-TermContr">
            <SOAP:address location="http://URL_NOT_SPECIFIED"/>
        </port>
    </service>
</definitions>
