eid-service/src/main/resources/META-INF/wsdl/TR-03130eID-Server20.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:dss="urn:oasis:names:tc:dss:1.0:core:schema"
	xmlns:tns="http://bsi.bund.de/eID/" xmlns:Q1="urn:oasis:names:tc:SAML:1.0:assertion"
	xmlns:saml="urn:oasis:names:tc:SAML:2.0:assertion" targetNamespace="http://bsi.bund.de/eID/"
	elementFormDefault="qualified" attributeFormDefault="unqualified"
	version="2.0.2 2016-11-16">
	<import namespace="urn:oasis:names:tc:dss:1.0:core:schema"
		schemaLocation="external/oasis-dss-core-schema-v1.0-os.xsd" />
	<import namespace="urn:oasis:names:tc:SAML:2.0:assertion"
		schemaLocation="external/saml-schema-assertion-2.0.xsd" />
	<complexType name="SessionType">
		<sequence>
			<element name="ID">
				<simpleType>
					<restriction base="hexBinary">
						<minLength value="16" />
					</restriction>
				</simpleType>
			</element>
		</sequence>
	</complexType>
	<element name="useIDResponse" type="tns:useIDResponseType" />
	<complexType name="useIDResponseType">
		<sequence>
			<element name="Session" type="tns:SessionType" />
			<element name="eCardServerAddress" type="anyURI" minOccurs="0" />
			<element name="PSK" type="tns:PreSharedKeyType" />
			<element ref="dss:Result" />
		</sequence>
	</complexType>
	<complexType name="PersonalDataType">
		<sequence>
			<element name="DocumentType" type="tns:DocumentType"
				minOccurs="0" />
			<element name="IssuingState" type="tns:ICAOCountry"
				minOccurs="0" />
			<element name="DateOfExpiry" type="date" minOccurs="0" />
			<element name="GivenNames" type="string" minOccurs="0" />
			<element name="FamilyNames" type="string" minOccurs="0" />
			<element name="ArtisticName" type="string" minOccurs="0" />
			<element name="AcademicTitle" type="string" minOccurs="0" />
			<element name="DateOfBirth" type="tns:GeneralDateType"
				minOccurs="0" />
			<element name="PlaceOfBirth" type="tns:GeneralPlaceType"
				minOccurs="0" />
			<element name="Nationality" type="tns:ICAOCountry" minOccurs="0" />
			<element name="Sex" type="tns:ICAOSex" minOccurs="0"/>
			<element name="OptionalDataR" type="hexBinary" minOccurs="0"/>
			<element name="BirthName" type="string" minOccurs="0" />
			<element name="WrittenSignature" type="hexBinary" minOccurs="0"/>
			<element name="DateOfIssuance" type="date" minOccurs="0"/>
			<element name="PlaceOfResidence" type="tns:GeneralPlaceType" minOccurs="0"/>
			<element name="MunicipalityID" type="hexBinary" minOccurs="0"/>
			<element name="ResidencePermitI" type="string" minOccurs="0" />
			<element name="ResidencePermitII" type="string" minOccurs="0"/>
			<element name="PhoneNumber" type="string" minOccurs="0"/>
			<element name="EmailAddress" type="string" minOccurs="0"/>
			<element name="RestrictedID" type="tns:RestrictedIDType" minOccurs="0"/>
		</sequence>
	</complexType>
	<complexType name="GeneralPlaceType">
		<choice>
			<element name="StructuredPlace" type="tns:PlaceType" />
			<element name="FreetextPlace" type="string" />
			<element name="NoPlaceInfo" type="string" />
		</choice>
	</complexType>
	<complexType name="PlaceType">
		<sequence>
			<element name="Street" type="string" minOccurs="0" />
			<element name="City" type="string" />
			<element name="State" type="string" minOccurs="0" />
			<element name="Country" type="tns:ICAOCountry" />
			<element name="ZipCode" type="string" minOccurs="0" />
		</sequence>
	</complexType>
	<simpleType name="DocumentType">
		<restriction base="string">
			<pattern value="[A-Z ]{2}" />
		</restriction>
	</simpleType>
	<simpleType name="ICAOCountry">
		<restriction base="string">
			<pattern value="[A-Z ]{1,3}" />
		</restriction>
	</simpleType>
	<simpleType name="ICAOSex">
		<restriction base="string">
			<pattern value="[MF ]{1}"/>
		</restriction>
	</simpleType>
	<complexType name="AgeVerificationRequestType">
		<sequence>
			<element name="Age">
				<simpleType>
					<restriction base="int">
						<minInclusive value="0" />
					</restriction>
				</simpleType>
			</element>
		</sequence>
	</complexType>
	<complexType name="VerificationResultType">
		<sequence>
			<element name="FulfilsRequest" type="boolean" />
		</sequence>
	</complexType>
	<element name="useIDRequest" type="tns:useIDRequestType" />
	<complexType name="useIDRequestType">
		<sequence>
			<element name="UseOperations" type="tns:OperationsRequestorType" />
			<element name="AgeVerificationRequest" type="tns:AgeVerificationRequestType" minOccurs="0"/>
			<element name="PlaceVerificationRequest" type="tns:PlaceVerificationRequestType" minOccurs="0"/>
			<element name="PSMRequest" type="hexBinary" minOccurs="0"/>
			<element name="PSCRequest" type="tns:PSCRequestType" minOccurs="0"/>
			<element name="SpecificAttributeRequest" type="tns:SpecificAttributeRequestType" minOccurs="0"/>
			<element name="PSK" type="tns:PreSharedKeyType" minOccurs="0" />
		</sequence>
	</complexType>
	<complexType name="PSCRequestType">
		<sequence>
			<element name="DocumentType" type="boolean" minOccurs="0"/>
			<element name="IssuingState" type="boolean" minOccurs="0"/>
			<element name="DateOfExpiry" type="boolean" minOccurs="0"/>
			<element name="GivenNames" type="boolean" minOccurs="0"/>
			<element name="FamilyNames" type="boolean" minOccurs="0"/>
			<element name="ArtisticName" type="boolean" minOccurs="0"/>
			<element name="AcademicTitle" type="boolean" minOccurs="0"/>
			<element name="DateOfBirth" type="boolean" minOccurs="0"/>
			<element name="PlaceOfBirth" type="boolean" minOccurs="0"/>
			<element name="Nationality" type="boolean" minOccurs="0"/>
			<element name="Sex" type="boolean" minOccurs="0"/>
			<element name="OptionalDataR" type="boolean" minOccurs="0"/>
			<element name="BirthName" type="boolean" minOccurs="0"/>
			<element name="WrittenSignature" type="boolean" minOccurs="0"/>
			<element name="DateOfIssuance" type="boolean" minOccurs="0"/>
			<element name="PlaceOfResidence" type="boolean" minOccurs="0"/>
			<element name="MunicipalityID" type="boolean" minOccurs="0"/>
			<element name="ResidencePermitI" type="boolean" minOccurs="0"/>
			<element name="ResidencePermitII" type="boolean" minOccurs="0"/>
			<element name="PhoneNumber" type="boolean" minOccurs="0"/>
			<element name="EmailAddress" type="boolean" minOccurs="0"/>
			<element name="SpecificAttribute" type="boolean" minOccurs="0"/>
		</sequence>
	</complexType>
	<complexType name="SpecificAttributeRequestType">
		<sequence>
			<element name="AttributeRequest" type="hexBinary" minOccurs="0"/>
			<element name="AccessAll" type="boolean" minOccurs="0"/>
		</sequence>
	</complexType>
	<complexType name="OperationsSelectorType">
		<sequence>
			<element name="DocumentType" type="tns:AttributeSelectionType" default="PROHIBITED" />
			<element name="IssuingState" type="tns:AttributeSelectionType" default="PROHIBITED" />
			<element name="DateOfExpiry" type="tns:AttributeSelectionType" default="PROHIBITED" />
			<element name="GivenNames" type="tns:AttributeSelectionType" default="PROHIBITED" />
			<element name="FamilyNames" type="tns:AttributeSelectionType" default="PROHIBITED" />
			<element name="ArtisticName" type="tns:AttributeSelectionType" default="PROHIBITED" />
			<element name="AcademicTitle" type="tns:AttributeSelectionType" default="PROHIBITED" />
			<element name="DateOfBirth" type="tns:AttributeSelectionType" default="PROHIBITED" />
			<element name="PlaceOfBirth" type="tns:AttributeSelectionType" default="PROHIBITED" />
			<element name="Nationality" type="tns:AttributeSelectionType" default="PROHIBITED" />
			<element name="Sex" type="tns:AttributeSelectionType" default="PROHIBITED" minOccurs="0" />
			<element name="OptionalDataR" type="tns:AttributeSelectionType" default="PROHIBITED" minOccurs="0" />
			<element name="BirthName" type="tns:AttributeSelectionType" default="PROHIBITED" />
			<element name="WrittenSignature" type="tns:AttributeSelectionType" default="PROHIBITED" minOccurs="0" />
			<element name="DateOfIssuance" type="tns:AttributeSelectionType" default="PROHIBITED" minOccurs="0" />
			<element name="PlaceOfResidence" type="tns:AttributeSelectionType" default="PROHIBITED" />
			<element name="MunicipalityID" type="tns:AttributeSelectionType" default="PROHIBITED" minOccurs="0" />
			<element name="ResidencePermitI" type="tns:AttributeSelectionType" default="PROHIBITED" />
			<element name="ResidencePermitII" type="tns:AttributeSelectionType" default="PROHIBITED" minOccurs="0" />
			<element name="PhoneNumber" type="tns:AttributeSelectionType" default="PROHIBITED" minOccurs="0" />
			<element name="EmailAddress" type="tns:AttributeSelectionType" default="PROHIBITED" minOccurs="0" />
			<element name="RestrictedID" type="tns:AttributeSelectionType" default="PROHIBITED" />
			<element name="AgeVerification" type="tns:AttributeSelectionType" default="PROHIBITED" />
			<element name="PlaceVerification" type="tns:AttributeSelectionType" default="PROHIBITED" />
			<element name="PSC" type="tns:AttributeSelectionType" default="PROHIBITED" minOccurs="0" />
			<element name="PSM" type="tns:AttributeSelectionType" default="PROHIBITED" minOccurs="0" />
			<element name="PSA" type="tns:AttributeSelectionType" default="PROHIBITED" minOccurs="0" />
		</sequence>
	</complexType>
	<complexType name="PlaceVerificationRequestType">
		<sequence>
			<element name="CommunityID">
				<simpleType>
					<restriction base="string">
						<pattern
							value="[0][0-9]{3}([0-9]{2}([0][0-9]([0-9]{2}([0][0-9]{3})?)?)?)?" />
					</restriction>
				</simpleType>
			</element>
		</sequence>
	</complexType>
	<element name="getServerInfoResponse" type="tns:getServerInfoResponseType" />
	<complexType name="getServerInfoResponseType">
		<sequence>
			<element name="ServerVersion" type="tns:VersionType" />
			<element name="DocumentVerificationRights" type="tns:OperationsSelectorType" />
		</sequence>
	</complexType>
	<complexType name="VersionType">
		<sequence>
			<element name="VersionString" type="string" />
			<element name="Major" type="int" />
			<element name="Minor" type="int" />
			<element name="Bugfix" type="int" minOccurs="0" />
		</sequence>
	</complexType>
	<element name="getServerInfoRequest" type="tns:nullType" />
	<complexType name="nullType">
		<sequence />
	</complexType>
	<element name="getResultRequest" type="tns:getResultRequestType" />
	<complexType name="getResultRequestType">
		<sequence>
			<element name="Session" type="tns:SessionType" />
			<element name="RequestCounter" type="int" />
		</sequence>
	</complexType>
	<element name="getResultResponse" type="tns:getResultResponseType" />
	<complexType name="getResultResponseType">
		<sequence>
			<element name="PersonalData" type="tns:PersonalDataType" minOccurs="0"/>
			<element name="FulfilsAgeVerification" type="tns:VerificationResultType" minOccurs="0"/>
			<element name="FulfilsPlaceVerification" type="tns:VerificationResultType" minOccurs="0"/>
			<element name="PSC" type="hexBinary" minOccurs="0"/>
			<element name="PSM" type="hexBinary" minOccurs="0"/>
			<element name="PSMVerified" type="tns:VerificationResultType" minOccurs="0"/>
			<element name="PSA" type="hexBinary" minOccurs="0"/>
			<element name="PSAVerified" type="tns:VerificationResultType" minOccurs="0"/>
			<element name="SpecificAttribute" type="hexBinary" minOccurs="0" maxOccurs="unbounded"/>
			<element name="OperationsAllowedByUser" type="tns:OperationsResponderType" minOccurs="0"/>
			<element ref="dss:Result" />
		</sequence>
	</complexType>
	<complexType name="PreSharedKeyType">
		<sequence>
			<element name="ID">
				<simpleType>
					<restriction base="string">
						<minLength value="16" />
					</restriction>
				</simpleType>
			</element>
			<element name="Key">
				<simpleType>
					<restriction base="hexBinary">
						<minLength value="16" />
					</restriction>
				</simpleType>
			</element>
		</sequence>
	</complexType>
	<!-- New types for eID-WSDL (after version 1.3) -->
	<complexType name="GeneralDateType">
		<sequence>
			<element name="DateString">
				<simpleType>
					<restriction base="string">
						<whiteSpace value="preserve" />
						<pattern value="[0-9 ]{8}" />
					</restriction>
				</simpleType>
			</element>
			<element name="DateValue" type="date" minOccurs="0" />
		</sequence>
	</complexType>
	<complexType name="RestrictedIDType">
		<sequence>
			<element name="ID" type="hexBinary" />
			<element name="ID2" type="hexBinary" minOccurs="0" />
		</sequence>
	</complexType>
	<simpleType name="AttributeSelectionType">
		<restriction base="string">
			<enumeration value="ALLOWED" />
			<enumeration value="PROHIBITED" />
		</restriction>
	</simpleType>
	<!-- Additional types for SAML attributes -->
	<complexType name="PlaceVerificationResultType">
		<sequence>
			<element name="Request" type="tns:PlaceVerificationRequestType" />
			<element name="Result" type="tns:VerificationResultType" />
		</sequence>
	</complexType>
	<complexType name="AgeVerificationResultType">
		<sequence>
			<element name="Request" type="tns:AgeVerificationRequestType" />
			<element name="Result" type="tns:VerificationResultType" />
		</sequence>
	</complexType>
	<complexType name="DocumentValidityResultType">
		<sequence>
			<element name="ReferenceDate" type="date" />
			<element name="Status" type="string" />
		</sequence>
		<attribute name="Version" type="positiveInteger" use="required" />
		<anyAttribute namespace="##any" processContents="lax" />
	</complexType>
	<!-- Additional types used in SAML AuthnRequest -->
	<element name="EncryptedAuthnRequestExtension" type="saml:EncryptedElementType">
		<annotation>
			<documentation>
				This element MUST contain an encrypted version of an
				AuthnRequestExtension element within its xenc:EncryptedData
				sub-element.
			</documentation>
		</annotation>
	</element>
	<element name="AuthnRequestExtension" type="tns:AuthnRequestExtensionType" />
	<complexType name="AuthnRequestExtensionType">
		<sequence>
			<element name="RequestedAttributes" type="tns:RequestedAttributesType" />
		</sequence>
		<attribute name="Version" type="positiveInteger" use="required" />
		<anyAttribute namespace="##any" processContents="lax" />
	</complexType>
	<complexType name="RequestedAttributesType">
		<sequence>
			<element ref="saml:Attribute" minOccurs="0" maxOccurs="unbounded" />
		</sequence>
	</complexType>
	<!-- New defined Attribute since Version 1.5 -->
	<attribute name="RequiredAttribute" type="boolean" default="true" />
	<!-- New defined Types and Attributes since Version 2.0 -->
	<!-- No more Unions since 2.0.1 -->
	<simpleType name="AttributeRequestType">
		<restriction base="string">
			<enumeration value="REQUIRED" />
			<enumeration value="ALLOWED" />
			<enumeration value="PROHIBITED" />
		</restriction>
	</simpleType>
	<simpleType name="AttributeResponseType">
		<restriction base="string">
			<enumeration value="NOTONCHIP" />
			<enumeration value="ALLOWED" />
			<enumeration value="PROHIBITED" />
		</restriction>
	</simpleType>

	<attribute name="AttributeNotOnChip" type="boolean" default="false" />
	<complexType name="OperationsRequestorType">
		<sequence>
			<element name="DocumentType" type="tns:AttributeRequestType" default="PROHIBITED" />
			<element name="IssuingState" type="tns:AttributeRequestType" default="PROHIBITED" />
			<element name="DateOfExpiry" type="tns:AttributeRequestType" default="PROHIBITED" />
			<element name="GivenNames" type="tns:AttributeRequestType" default="PROHIBITED" />
			<element name="FamilyNames" type="tns:AttributeRequestType" default="PROHIBITED" />
			<element name="ArtisticName" type="tns:AttributeRequestType" default="PROHIBITED" />
			<element name="AcademicTitle" type="tns:AttributeRequestType" default="PROHIBITED" />
			<element name="DateOfBirth" type="tns:AttributeRequestType" default="PROHIBITED" />
			<element name="PlaceOfBirth" type="tns:AttributeRequestType" default="PROHIBITED" />
			<element name="Nationality" type="tns:AttributeRequestType" default="PROHIBITED" />
			<element name="Sex" type="tns:AttributeRequestType" default="PROHIBITED" minOccurs="0" />
			<element name="OptionalDataR" type="tns:AttributeRequestType" default="PROHIBITED" minOccurs="0" />
			<element name="BirthName" type="tns:AttributeRequestType" default="PROHIBITED" />
			<element name="WrittenSignature" type="tns:AttributeRequestType" default="PROHIBITED" minOccurs="0" />
			<element name="DateOfIssuance" type="tns:AttributeRequestType" default="PROHIBITED" minOccurs="0" />
			<element name="PlaceOfResidence" type="tns:AttributeRequestType" default="PROHIBITED" />
			<element name="MunicipalityID" type="tns:AttributeRequestType" default="PROHIBITED" minOccurs="0" />
			<element name="ResidencePermitI" type="tns:AttributeRequestType" default="PROHIBITED" />
			<element name="ResidencePermitII" type="tns:AttributeRequestType" default="PROHIBITED" minOccurs="0" />
			<element name="PhoneNumber" type="tns:AttributeRequestType" default="PROHIBITED" minOccurs="0" />
			<element name="EmailAddress" type="tns:AttributeRequestType" default="PROHIBITED" minOccurs="0" />
			<element name="RestrictedID" type="tns:AttributeRequestType" default="PROHIBITED" />
			<element name="AgeVerification" type="tns:AttributeRequestType" default="PROHIBITED" />
			<element name="PlaceVerification" type="tns:AttributeRequestType" default="PROHIBITED" />
			<element name="PSC" type="tns:AttributeRequestType" default="PROHIBITED" minOccurs="0" />
			<element name="PSM" type="tns:AttributeRequestType" default="PROHIBITED" minOccurs="0" />
			<element name="PSA" type="tns:AttributeRequestType" default="PROHIBITED" minOccurs="0" />
			<element name="SpecificAttribute" type="tns:AttributeRequestType" default="PROHIBITED" minOccurs="0" />
			<element name="DeleteSpecificAttribute" type="tns:AttributeRequestType" default="PROHIBITED" minOccurs="0" />
		</sequence>
	</complexType>
	<complexType name="OperationsResponderType">
		<sequence>
			<element name="DocumentType" type="tns:AttributeResponseType" default="PROHIBITED" />
			<element name="IssuingState" type="tns:AttributeResponseType" default="PROHIBITED" />
			<element name="DateOfExpiry" type="tns:AttributeResponseType" default="PROHIBITED" />
			<element name="GivenNames" type="tns:AttributeResponseType" default="PROHIBITED" />
			<element name="FamilyNames" type="tns:AttributeResponseType" default="PROHIBITED" />
			<element name="ArtisticName" type="tns:AttributeResponseType" default="PROHIBITED" />
			<element name="AcademicTitle" type="tns:AttributeResponseType" default="PROHIBITED" />
			<element name="DateOfBirth" type="tns:AttributeResponseType" default="PROHIBITED" />
			<element name="PlaceOfBirth" type="tns:AttributeResponseType" default="PROHIBITED" />
			<element name="Nationality" type="tns:AttributeResponseType" default="PROHIBITED" />
			<element name="Sex" type="tns:AttributeResponseType" default="PROHIBITED" minOccurs="0" />
			<element name="OptionalDataR" type="tns:AttributeResponseType" default="PROHIBITED" minOccurs="0" />
			<element name="BirthName" type="tns:AttributeResponseType" default="PROHIBITED" />
			<element name="WrittenSignature" type="tns:AttributeResponseType" default="PROHIBITED" minOccurs="0" />
			<element name="DateOfIssuance" type="tns:AttributeResponseType" default="PROHIBITED" minOccurs="0" />
			<element name="PlaceOfResidence" type="tns:AttributeResponseType" default="PROHIBITED" />
			<element name="MunicipalityID" type="tns:AttributeResponseType" default="PROHIBITED" minOccurs="0" />
			<element name="ResidencePermitI" type="tns:AttributeResponseType" default="PROHIBITED" />
			<element name="ResidencePermitII" type="tns:AttributeResponseType" default="PROHIBITED" minOccurs="0" />
			<element name="PhoneNumber" type="tns:AttributeResponseType" default="PROHIBITED" minOccurs="0" />
			<element name="EmailAddress" type="tns:AttributeResponseType" default="PROHIBITED" minOccurs="0" />
			<element name="RestrictedID" type="tns:AttributeResponseType" default="PROHIBITED" />
			<element name="AgeVerification" type="tns:AttributeResponseType" default="PROHIBITED" />
			<element name="PlaceVerification" type="tns:AttributeResponseType" default="PROHIBITED" />
			<element name="PSC" type="tns:AttributeResponseType" default="PROHIBITED" minOccurs="0" />
			<element name="PSM" type="tns:AttributeResponseType" default="PROHIBITED" minOccurs="0" />
			<element name="PSA" type="tns:AttributeResponseType" default="PROHIBITED" minOccurs="0" />
			<element name="SpecificAttribute" type="tns:AttributeResponseType" default="PROHIBITED" minOccurs="0" />
			<element name="DeleteSpecificAttribute" type="tns:AttributeResponseType" default="PROHIBITED" minOccurs="0" />
		</sequence>
	</complexType>
</schema>
