eid-service/src/main/resources/META-INF/wsdl/TR-03130eID-Server20.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://bsi.bund.de/eID/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="eID"
	xmlns:wsp="http://www.w3.org/ns/ws-policy"
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
	xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy"
	targetNamespace="http://bsi.bund.de/eID/">
	<wsdl:documentation>Version 2.0.2 2016-11-16
	</wsdl:documentation>
	<wsdl:types>
		<xsd:schema>
			<xsd:import schemaLocation="TR-03130eID-Server20.xsd"
				namespace="http://bsi.bund.de/eID/" />
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="useIDRequest">
		<wsdl:part name="parameters" element="tns:useIDRequest" />
	</wsdl:message>
	<wsdl:message name="useIDResponse">
		<wsdl:part name="parameters" element="tns:useIDResponse" />
	</wsdl:message>
	<wsdl:message name="getServerInfoResponse">
		<wsdl:part name="parameters" element="tns:getServerInfoResponse" />
	</wsdl:message>
	<wsdl:message name="getServerInfoRequest">
		<wsdl:part name="parameters" element="tns:getServerInfoRequest" />
	</wsdl:message>
	<wsdl:message name="getResultRequest">
		<wsdl:part name="parameters" element="tns:getResultRequest" />
	</wsdl:message>
	<wsdl:message name="getResultResponse">
		<wsdl:part name="parameters" element="tns:getResultResponse" />
	</wsdl:message>
	<wsdl:portType name="eID">
		<wsdl:operation name="useID">
			<wsdl:input message="tns:useIDRequest" />
			<wsdl:output message="tns:useIDResponse" />
		</wsdl:operation>
		<wsdl:operation name="getServerInfo">
			<wsdl:input message="tns:getServerInfoRequest" />
			<wsdl:output message="tns:getServerInfoResponse" />
		</wsdl:operation>
		<wsdl:operation name="getResult">
			<wsdl:input message="tns:getResultRequest" />
			<wsdl:output message="tns:getResultResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsp:Policy wsu:Id="SigOnly">
		<wsp:ExactlyOne>
			<wsp:All>
                <ManagedService xmlns="http://java.sun.com/xml/ns/metro/management"
                       management="false" monitoring="false">
                    <!-- metro internal setting - should not be displayed in final WSDL -->   
                </ManagedService>       
				<sc:CallbackHandlerConfiguration  xmlns:wspp="http://java.sun.com/xml/ns/wsit/policy"
                        xmlns:sc="http://schemas.sun.com/2006/03/wss/server"
                        wspp:visibility="private">
                    <sc:CallbackHandler name="xwssCallbackHandler" classname="de.governikus.eumw.poseidas.server.eidservice.EidCallbackHandler" />
                </sc:CallbackHandlerConfiguration>
				<!-- Transport Layer Binding was removed in Version 1.5 -->
				<!-- Message Level -->
				<sp:AsymmetricBinding>
					<wsp:Policy>
						<sp:InitiatorToken>
							<wsp:Policy>
								<sp:X509Token
									sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/Never">
									<wsp:Policy>
										<sp:RequireIssuerSerialReference />
										<sp:WssX509V3Token10 />
									</wsp:Policy>
								</sp:X509Token>
							</wsp:Policy>
						</sp:InitiatorToken>
						<sp:RecipientToken>
							<wsp:Policy>
								<sp:X509Token
									sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/Never">
									<wsp:Policy>
										<sp:RequireIssuerSerialReference />
										<sp:WssX509V3Token10 />
									</wsp:Policy>
								</sp:X509Token>
							</wsp:Policy>
						</sp:RecipientToken>
						<sp:AlgorithmSuite>
							<wsp:Policy>
								<sp:Basic256Sha256 />
							</wsp:Policy>
						</sp:AlgorithmSuite>
						<sp:Layout>
							<wsp:Policy>
								<sp:Strict />
							</wsp:Policy>
						</sp:Layout>
						<sp:IncludeTimestamp />
						<sp:OnlySignEntireHeadersAndBody />
					</wsp:Policy>
				</sp:AsymmetricBinding>
				<sp:Wss10>
					<sp:Policy>
						<sp:MustSupportRefIssuerSerial />
					</sp:Policy>
				</sp:Wss10>
				<sp:SignedParts>
					<sp:Body />
				</sp:SignedParts>
			</wsp:All>
		</wsp:ExactlyOne>
	</wsp:Policy>
	<wsdl:binding name="eIDSOAP" type="tns:eID">
		<wsp:PolicyReference URI="#SigOnly" />
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="useID">
			<soap:operation soapAction="http://bsi.bund.de/eID/useID" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getServerInfo">
			<soap:operation soapAction="http://bsi.bund.de/eID/getServerInfo" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getResult">
			<soap:operation soapAction="http://bsi.bund.de/eID/getResult" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="eID">
		<wsdl:port name="eIDSOAP" binding="tns:eIDSOAP">
			<soap:address location="http://www.bsi.bund.de/eid/server/2.0" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
