poseidas/src/main/resources/META-INF/wsdl/CA-Services/PassiveAuth/Terminal/WS_IS_PassiveAuth.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<!-- this WSDL-specification is based on the document 
	 PKIs for Machine Readable Travel Documents - Protocols for the Management of Certififcates and CRLs
	 Version 1.1, Date 30.06.2010
	 -->
<!-- this specification contains the functions that have to be implemented as part of the Web-Service
	of the terminals. Currently the following functions are part of this Web-Service:
	- SendMasterList used for a callback by the DV
	- SendDefectList used for a callback by the DV
	-->
	
<definitions
    name="EAC-PKI-IS"
    targetNamespace="uri:EAC-PKI-IS-Protocol/1.1"
    xmlns:tns="uri:EAC-PKI-IS-Protocol/1.1"

    xmlns:ns="uri:eacBT/1.1"

    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://schemas.xmlsoap.org/wsdl/ http://schemas.xmlsoap.org/wsdl/2003-02-11.xsd"

    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:SOAP="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    >
    
    <types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema">
            <import namespace="http://www.w3.org/2001/XMLSchema"/>
            <import namespace="uri:eacBT/1.1" schemaLocation="./BasicTypes_IS_PassiveAuth.xsd"/>
        </schema>
    </types>
	
	<!-- Definition of the messages of the protocol -->
	<!-- message SendMasterList -->
	<message name="SendMasterList_Req">
		<part name="messageID" type="ns:OptionalMessageIDType"/>
		<part name="statusInfo" type="ns:SendMasterList_statusInfoType"/>
		<part name="masterList" type="ns:OptionalBinaryType"/>
	</message>
	<message name="SendMasterList_Res">
		<part name="Result" type="ns:SendMasterList_returnCodeType"/>
	</message>
	<!-- message SendDefectList -->
	<message name="SendDefectList_Req">
		<part name="messageID" type="ns:OptionalMessageIDType"/>
		<part name="statusInfo" type="ns:SendDefectList_statusInfoType"/>
		<part name="defectList" type="ns:OptionalBinaryType"/>
	</message>
	<message name="SendDefectList_Res">
		<part name="Result" type="ns:SendDefectList_returnCodeType"/>
	</message>
	
	<!-- Definition of the port types -->
	<portType name="EAC-PKI-IS-ProtocolType">
		<!-- port type for message SendMasterList -->
		<operation name="SendMasterList">
			<input message="tns:SendMasterList_Req"/>
			<output message="tns:SendMasterList_Res"/>
		</operation>
		<!-- port type for message SendDefectList -->
		<operation name="SendDefectList">
			<input message="tns:SendDefectList_Req"/>
			<output message="tns:SendDefectList_Res"/>
		</operation>
	</portType>
	
	<!-- Definition of the bindings -->
	<binding name="EAC-IS" type="tns:EAC-PKI-IS-ProtocolType">
		<SOAP:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="SendMasterList">
			<SOAP:operation style="rpc" soapAction=""/>
			<input>
				<SOAP:body use="literal" namespace="uri:EAC-PKI-IS-Protocol/1.1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<SOAP:body use="literal" namespace="uri:EAC-PKI-IS-Protocol/1.1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="SendDefectList">
			<SOAP:operation style="rpc" soapAction=""/>
			<input>
				<SOAP:body use="literal" namespace="uri:EAC-PKI-IS-Protocol/1.1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<SOAP:body use="literal" namespace="uri:EAC-PKI-IS-Protocol/1.1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
	</binding>

   <!-- Definition of the service -->
    <service name="EAC-IS-ProtocolService">
        <port name="EAC-IS-ProtocolServicePort" binding="tns:EAC-IS">
            <SOAP:address location="http://URL_NOT_SPECIFIED"/>
        </port>
    </service>
</definitions>
