poseidas/src/main/resources/META-INF/wsdl/CA-Services/PassiveAuth/BasicTypes_DV_PassiveAuth.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:nsBT="uri:eacBT/1.1" targetNamespace="uri:eacBT/1.1" elementFormDefault="qualified">
	<!-- this scheme is based on the document 
	     PKIs for Machine Readable Travel Documents - Protocols for the Management of Certififcates and CRLs
	 Version 1.1, Date 30.06.2010
	 -->
	<!-- Definition of the type for a message ID -->
	<xsd:simpleType name="MessageIDType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<!-- Definition of the type for a callbackIndicator -->
	<xsd:simpleType name="CallbackIndicatorType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="callback_possible"/>
			<xsd:enumeration value="callback_not_possible"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- Definition of the type of an optional messageID parameter -->
	<xsd:complexType name="OptionalMessageIDType">
		<xsd:sequence>
			<xsd:element name="messageID" type="nsBT:MessageIDType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- Definition of the type of an optional string parameter -->
	<xsd:complexType name="OptionalStringType">
		<xsd:sequence>
			<xsd:element name="string" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="OptionalBinaryType">
		<xsd:sequence>
			<xsd:element name="binary" type="xsd:base64Binary" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- Definition of the types of the status codes for the messages -->
	<xsd:simpleType name="SendMasterList_statusInfoType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="ok_list_available"/>
			<xsd:enumeration value="failure_syntax"/>
			<xsd:enumeration value="failure_list_not_available"/>
			<xsd:enumeration value="failure_internal_error"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="SendDefectList_statusInfoType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="ok_list_available"/>
			<xsd:enumeration value="failure_syntax"/>
			<xsd:enumeration value="failure_list_not_available"/>
			<xsd:enumeration value="failure_internal_error"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<!-- ==================== -->
	<!-- Definition of the types of the return codes for the different messages -->
	<xsd:simpleType name="GetMasterList_returnCodeType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="ok_list_available"/>
			<xsd:enumeration value="ok_syntax"/>
			<xsd:enumeration value="ok_reception_ack"/>
			<xsd:enumeration value="failure_syntax"/>
			<xsd:enumeration value="failure_list_not_available"/>
			<xsd:enumeration value="failure_synchronous_processing_not_possible"/>
			<xsd:enumeration value="failure_internal_error"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="GetDefectList_returnCodeType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="ok_list_available"/>
			<xsd:enumeration value="ok_syntax"/>
			<xsd:enumeration value="ok_reception_ack"/>
			<xsd:enumeration value="failure_syntax"/>
			<xsd:enumeration value="failure_list_not_available"/>
			<xsd:enumeration value="failure_synchronous_processing_not_possible"/>
			<xsd:enumeration value="failure_internal_error"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="SendMasterList_returnCodeType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="ok_received_correctly"/>
			<xsd:enumeration value="failure_syntax"/>
			<xsd:enumeration value="failure_messageID_unknown"/>
			<xsd:enumeration value="failure_internal_error"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="SendDefectList_returnCodeType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="ok_received_correctly"/>
			<xsd:enumeration value="failure_syntax"/>
			<xsd:enumeration value="failure_messageID_unknown"/>
			<xsd:enumeration value="failure_internal_error"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<!-- ==================== -->
	<!-- Definition of the types of the result for the different messages -->
	<xsd:complexType name="GetMasterListResult">
		<xsd:sequence>
			<xsd:element name="returnCode" type="nsBT:GetMasterList_returnCodeType"/>
			<xsd:element name="masterList" type="nsBT:OptionalBinaryType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="GetDefectListResult">
		<xsd:sequence>
			<xsd:element name="returnCode" type="nsBT:GetDefectList_returnCodeType"/>
			<xsd:element name="defectList" type="nsBT:OptionalBinaryType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
