poseidas/src/main/resources/META-INF/wsdl/CA-Services.old/budru/BasicTypes_DV_CertDesc.xsd

<?xml version='1.0' encoding='UTF-8'?><xsd:schema targetNamespace="urn:DVCA/v2/Types" xmlns:tns="urn:DVCA/v2/Types" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:annotation>
		<xsd:documentation xml:lang="en">
			This schema defines
			datatypes used in conjunction with the web services provided by the
			DVCA system.
    </xsd:documentation>
	</xsd:annotation>
	<!--Certificates -->
	<xsd:element name="GetCertificateDescriptionRequest">
		<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="hash" type="xsd:hexBinary">
							<xsd:annotation>
								<xsd:documentation>The hash value of the certificate description.</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##targetNamespace" processContents="skip" />
					</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="GetCertificateDescriptionResponse">
		<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="certificateDescription" type="xsd:hexBinary">
							<xsd:annotation>
								<xsd:documentation>The ASN.1 encoded certificate description identified by the given hash value.</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##targetNamespace" processContents="skip" />
					</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
